<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <h1>Canadian Baseball Teams</h1>

    <a href="/teams"><h2>All Teams</h2></a>
    <a href="/eastern"><h2>Eastern Conference</h2></a>
    <a href="/western"><h2>Western Conference</h2></a>

  </body>
</html>
